# Ignorar archivos de compilación Java
*.class

# Ignorar IDEs
.vscode/
.idea/

# Ignorar archivos del sistema operativo
.DS_Store
Thumbs.db

# Ignorar archivos temporales
*.log
*.tmp

# Ignorar carpetas específicas
build/
out/
